*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: grid; /*quando o grid é definido de primeiro momento ele preenche toda a tela */
  grid-template-columns: repeat(3, 1fr); /*o grid-template-columns que faz criar as colunas */
  grid-auto-rows: minmax(80px, auto);
  gap: 10px 15px; /*ele da uma espaçamento entre as linhas e colunas seria o row-gap e column-gap em um só o GAP ; */
}

.item {
    border: 2px solid black;
    background-color: white;
    font-size: 23px;
    padding: 10px; /*para o texto nao ficar colado nas colunas/margem da tela*/
}




 .item1{
  grid-column: 1/4;
}
.item2{
   grid-column: 1/3;
   grid-row: 2/4;
}

.item5{
  grid-column: 1/4;
  grid-row: 4/6;

}

.item8{
  grid-column: 2/4;
  grid-row: 6/8;
}

.item9{
  grid-column: 1/4;
} 
/* Explicacao da aula:
 .item1{
  grid-column: 1/4;
}

.item2{
  grid-column: 1/3;
}

.item5{
  grid-column: 2/4;
}

.item6{
  grid-column: 1/3;
  grid-row: 4/7;
}

.item8{
  grid-column: 3/4;
  grid-row: 5/7;
}

.item9{
  grid-column: 1/4;
} */

/* Explicação da aula
 grid-template-rows: repeat(3, 1fr) que faz cria containers/templates em linha

 grid-auto-rows: é mais facil de trabalhar
  grid-auto-rows: minmax(210px, 100%) o minimo de linha é 210px e o máximo é 100% 
  pq se não tivesse o minmax fosse só 210px, as linhas de texto começariam a sair do template/coluna
*/